spring:
  application:
    name: auth-service
  web:
    cors:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8001
  servlet:
    context-path: /

jwt:
  expiration: 86400000
  refresh-expiration: 604800000

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

---
# =====================
# DEV PROFILE
# =====================
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=api_analyser
    username: DXP2103
    password: admin
    driver-class-name: org.postgresql.Driver

jwt:
  secret: aVeryLongSecretKeyForJwtTokenGenerationThatIsAtLeast64CharsLong!!

logging:
  level:
    root: INFO
    com.apianalyzer: DEBUG

---
# =====================
# PROD PROFILE
# =====================
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: WARN
    com.apianalyzer: INFO