spring:
  application:
    name: gateway-service

#  cloud:
#    gateway:
#      routes:
#        - id: auth-service
#          uri: http://localhost:8001
#          predicates:
#            - Path=/api/auth/**
#
#        - id: analytics-service
#          uri: http://localhost:8003
#          predicates:
#            - Path=/api/analytics/**
#
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins:
#              - "http://localhost:4200"
#              - "http://localhost:3000"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"
#            allowCredentials: true
#            maxAge: 3600

server:
  port: 8000

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

---
# =====================
# DEV PROFILE
# =====================
spring:
  config:
    activate:
      on-profile: dev
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3

jwt:
  secret: aVeryLongSecretKeyForJwtTokenGenerationThatIsAtLeast64CharsLong!!

logging:
  level:
    root: INFO
    com.apianalyzer: DEBUG

---
# =====================
# PROD PROFILE
# =====================
spring:
  config:
    activate:
      on-profile: prod
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL}
          predicates:
            - Path=/api/auth/**
        - id: analytics-service
          uri: ${ANALYTICS_SERVICE_URL}
          predicates:
            - Path=/api/analytics/**

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: WARN
    com.apianalyzer: INFO